<div class="col-md-12 p-l-r-0 incoming-call-window">
    <div class="col-md-8 col-md-offset-2 incoming-caller">
        <div class="col-md-12 animation-border">
            <img src="assets/img/user7.jfif">
        </div>
    </div>
    <div class="col-md-12">
        <h4>
            Chithra Annamalai
        </h4>
    </div>
    <div class="col-md-8 col-md-offset-2 m-t-25">
        <div class="call-option accept">
            <a href="javascript:void(0);"></a>
            <span>Confirm</span>
        </div>
        <div class="call-option cancel">
            <a href="javascript:void(0);"></a>
            <span>Reject</span>
        </div>
    </div>
</div>