<!-- chat -->

<div *ngIf="activeUser" class="chat-header">
  <div class="chat-header-user">
    <figure class="avatar avatar-lg">
      <img [src]="activeUser.profileImagePath" class="rounded-circle" />
    </figure>
    <div>
      <h5>{{ activeUser.firstName + " " + activeUser.lastName }}</h5>
      <small class="text-muted">
        <i>Online</i>
      </small>
    </div>
  </div>
  <div class="chat-header-action">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="btn btn-success">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-secondary">
          <i class="fa fa-video-camera" aria-hidden="true"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-secondary" data-toggle="dropdown">
          <i class="ti-more"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a data-navigation-target="contact-information" class="dropdown-item"
            >Profile</a
          >
          <a class="dropdown-item">Add to archive</a>
          <a class="dropdown-item">Delete</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Block</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="chat-body">
  <!-- .no-message -->
  <!--
        <div class="no-message-container">
            <i class="fa fa-comments-o"></i>
            <p>Select a chat to read messages</p>
        </div>
        -->
  <div class="messages" app-message-list [messages]="chatMessages"></div>
</div>
<emoji-mart
  class="emoji-mart"
  set="apple"
  (emojiSelect)="addEmoji($event)"
  *ngIf="showEmojiPicker"
  title="Pick your emoji…"
></emoji-mart>
<div class="chat-footer">
  <form (submit)="sendMessage()">
    <input
      [(ngModel)]="messageText"
      name="messageText"
      type="text"
      id="message-input"
      class="form-control"
      placeholder="Recipient's username"
      aria-label="Recipient's username"
      aria-describedby="button-addon2"
    />
    <div class="form-buttons">
      <button
        class="btn btn-light btn-floating"
        (click)="toggleEmojiPicker()"
        type="button"
      >
        <i class="fa fa-smile-o"></i>
      </button>
      <button
        class="btn btn-light btn-floating"
        #filePicker="ngxFilePicker"
        ngxFilePicker
        [filter]="ignoreTooBigFile"
        (readStart)="onReadStart($event)"
        (filePick)="onFilePicked($event)"
        (readEnd)="onReadEnd($event)"
        type="button"
      >
        <i class="fa fa-paperclip"></i>
      </button>
      <button class="btn btn-light btn-floating" type="button">
        <i class="fa fa-microphone"></i>
      </button>
      <button class="btn btn-primary btn-floating" type="submit">
        <i class="fa fa-send"></i>
      </button>
    </div>
  </form>
</div>
<!-- ./ chat -->
